
body}
background-color: grey;
style {
img }
  border-radius: 50%;
}
table {
  width: 100%;
  border: 1px solid;
  background-color: whitesmoke;
  color: #FF00FF;
}
  #landing  {
*
  border: 1px solid #ccc; /* White border */
  margin-top: 13;
  height: 88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  }
}
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  background color: #92a8d1;
}

li a {
  display: block;
  width: 60px;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
div
  border-radius: 50%;
/* hero background image */
h1 
{
  color: black;
}
  h2 
{
  color: black;
}
  h3 
{
  color: black;
}
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
    text-align: center;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* services section css */
  }
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
}nav {
  display: block;
}
div {
  display: block;
}
img {
  display: inline-block;
  border-radius: 50%;
}
}
  li a {
  display: block;
  width: 60px;
}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a {
  display: block;
}
input[type=text], select, textarea {
  width: 100%; /* half width */
  padding: 4px; /* Some padding */ 
  background-color: lightblue
  border: 1px solid #ccc; /* Gray border */
  border-radius: 2px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 2px; /* Bottom margin */
  resize: horizontal; /* Allow the user to vertically resize the textarea (not horizontally) */
  /* CSS Background Properties Discussion */
}
.background {
    min-height: 100vh;
    /*background-color: gray;*/
    background-image: url;
    background-repeat : no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: scroll;

}
 
 